* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #74ebd5, #acb6e5);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: rgb(242, 187, 187);
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 360px;
    text-align: center;
}

.login-container:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}


.login-container h2 {
    margin-bottom: 20px;
    color: #333333;
}

.login-form input {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: 0.3s ease;
}

.login-form input:focus {
    border-color: #74ebd5;
    outline: none;
    box-shadow: 0 0 5px #74ebd5;
}

.password-wrapper {
    position: relative;
    width: 100%;
  }
  
  .password-wrapper input {
    width: 100%;
    padding-right: 30px;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: 0.3s ease;
  }
  
  .toggle-password {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #888;
  }
  
  .toggle-password:hover {
    color: #333;
  }
  

  .logo-wrapper {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .logo {
    max-width: 100px;
    width: 100%;
    height: auto;
    transition: transform 0.3s;
  }
  
  .logo:hover {
    transform: scale(1.05);
  }

.login-form input:hover {
    border-color: #1a2221;
    box-shadow: 0 0 5px #74ebd5;
    transition: all 0.3s ease;
  }
  

.login-form button {
    width: 100%;
    padding: 12px;
    background-color: #74ebd5;
    border: none;
    color: rgb(32, 30, 30);
    font-size: 16px;
    font-weight: bold;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-form button:hover {
    background-color: #4ab9c2;
    transform: scale(1.05);
}

.signup-link {
    margin-top: 15px;
    font-size: 14px;
}

.signup-link a {
    color: #2506d3;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
