body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #090141, #1a3741, #080350);
  color: #eaeaea;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::placeholder {
  color: #6a5f5f !important;
  opacity: 1;
}

/* Glassmorphism Effect */
.container {
  color: rgb(31, 248, 255);
  max-width: 850px;
  margin-top: 40px;
  margin-bottom: 100px;
  padding: 30px;
  background: #ffffff1a;
  border-radius: 15px;
  backdrop-filter: blur(15px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}



.logo {
  width: 80px;
  height: auto;
}

.header {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
  color: #00ffe7;
  text-transform: uppercase;
}




h2 {
  border-left: 4px solid #0dcaf0;
  padding-left: 10px;
  margin-top: 40px;
  color: #0dcaf0;
  cursor: pointer;
}

.form-control,
.form-select {
  background-color: rgba(221, 217, 217, 0.05); /* Darker background for input */
  color: #fbfbfb;
  border: 1px solid #5a5e6b;
}

.form-control:focus,
.form-select:focus {
  background-color: rgba(255, 255, 255, 0.2);
  color: #f1f1f1;
  border-color: #0dcaf0;
  box-shadow: 0 0 0 0.25rem rgba(13, 202, 240, 0.25);
}

/* Dropdown options styling */
.form-select option {
  background-color: #2e3b47;
  color: #ffffff;
}

.form-select option:hover {
  background-color: #0dcaf0;
  color: #2e3b47;
}

.btn-next{
  margin-top: 10px;
  background-color: #0fb19f;
  border-color: #248ea3;
  color: #000000;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.btn-secondary,
.btn-success {
  background-color: #44495a;
  border-color: #555b6e;
  color: #eaeaea;
}




.btn-secondary:hover,
.btn-success:hover {
  background-color: #5a6075;
  border-color: #6c738c;
}

/* Smooth Animated Transitions */
section {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

section.active {
  display: block;
  opacity: 1;
}

html {
  scroll-behavior: smooth;
}

/* Optional: Adjust space between sections */
.section {
  margin-bottom: 30px;
  padding: 40px;
}

